* {
    padding: 0;
    margin: 0;
}
/* Start of "Global Style" section */
body{
    width: 100%;
    height: 100%;
    margin: 0%;
}

/* Start of "Header" section */
header{
    display: flex;
    justify-content: center;
    width: 100%;
    padding-bottom: 10px;
}

nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

nav img{
    width: 40px;
}

nav ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-top: 40px;
}

nav li{
    /* display: inline-block; */
    margin: 0 30px;
}

nav a{
    align-content: center;
    color: black;
    text-decoration: none;
    font-family: 'Cairo', sans-serif;
}

nav a:hover{
    transition: .4s;
    color: orangered;
    text-decoration: line-through;
}

/* Start of "About" section */
#about{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#about img{
    width: 35%;
    /* float: left; */
}

#about section{
    height: auto;
    display: block;
    justify-content: space-around;
    width: 400px;
    

}

#about h1{
    height: fit-content;
    text-align: center;
    font-family: 'Cairo', sans-serif;
}

#about p{
    width: 100%;
    height: auto;
    float: right;
    font-size: 1em;
    font-family: 'Cairo', sans-serif;
    text-align: justify;
    line-height: 2em;
    display: block;
}

/* Start of "Wireframe" section */
h1{
    font-size: 1.5em;
    font-family: 'Cairo', sans-serif;
    text-align: center;
    padding: 40px 0 40px 0;
    margin: 0px;
}

#wireframe{
    width: 100%;
    height:auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#wireframe section:first-child {
    width: 75%;
}

#wireframe img{
    transition: 1s ease;
    width: 100%;
}

#wireframe img:hover{
    -webkit-transform: scale(.98);
    -ms-transform: scale(.98);
    transform: scale(.98);
    transition: 1s ease;
}

.first-selection img{
    display: block;
}

.first-selection p{
    text-align: center;
    color: black;
    font-family: 'Cairo', sans-serif;
    margin-top: 30px;
}

.second-selection img{
    width: 100%;
    display: block;
    justify-content: space-evenly;
}

.second-selection p{
    text-align: center;
    color: black;
    font-family: 'Cairo', sans-serif;
    margin-top: 30px;
}

/* Start of "Contact" section */
#contact{
    width: 100%;
    height: auto;
    display: flex;
    align-content: space-around;
    justify-content: space-evenly;
    margin-top: 40px;
    font-family: 'Cairo', sans-serif;
}

#contact .one{
    width: 400px;
    height: auto;
    float: left;
    
}

#contact .one h1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
}

#contact .two{
    width: 400px;
    height: auto;
    float: right;
    display: block;
    height: auto;
}

.input-container{
    padding: 10px 0px 5px 0px;
}

#contact input{
    padding: 5px 0 4px 0;
}

#contact label{
    padding: 10px 0px 5px 0px;
}

/* Start of "Footer" section */
footer{
    height: 50px;
    width: 100%;
    margin: 50px
}

footer h2{
    text-align: center;
    font-size: x-small;
    font-family: 'Cairo', sans-serif;
}

/* Start of "Media Query" section */
@media screen and (max-width: 390px){

    nav ul{
       flex-direction: column;
       align-items: center;
   }
   nav li{
       margin: 0;
   }
   #about{
       flex-direction: column;
       align-content: center;
       justify-content: center;
   }
   #about img{
        width: 100%;
   }

   #wireframe{
       width: 100%;
       flex-direction: column;
       align-items: center;
   }

   .first-selection{
       width: 100%;
   }
}